IAS-DataModelLib-TestCases/testdata/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:akc="http://www.examples.org/akc" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.examples.org/akc">
<xsd:complexType name="Address">
     <xsd:sequence>
      <xsd:element name="street" type="xsd:string"/>
      <xsd:element name="block" type="xsd:integer"/>
      <xsd:element name="city" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
